.instanceChild {
  width: 299px;
  height: 162px;
  position: relative;
  background-color: var(--secondary-white);
  display: none;
}
.thisDatasetDeals,
.usPollutionData {
  position: relative;
  z-index: 1;
}
.thisDatasetDeals {
  align-self: stretch;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.37px;
  color: var(--color-darkslategray-100);
}
.usPollutionDataParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px 0;
}
.fillednavigationmoreVertIcon {
  width: 24.2px;
  height: 24.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.frameChild {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.frameWrapper {
  align-self: stretch;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.filleddeviceaccessTimeIcon {
  height: 12.8px;
  width: 12.9px;
  position: relative;
  min-height: 13px;
  z-index: 1;
}
.february2023 {
  position: relative;
  letter-spacing: 0.37px;
  line-height: 11.02px;
  z-index: 1;
}
.filleddeviceaccessTimeParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 4px;
}
.frameParent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-xl);
  font-size: var(--font-size-4xs-8);
  color: var(--primary-dark);
}
.rectangleParent {
  position: absolute;
  top: 203px;
  left: 634px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  width: 299px;
  height: 162px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-xs) var(--padding-6xs)
    var(--padding-2xs);
  box-sizing: border-box;
  gap: 23px 0;
  z-index: 1;
  text-align: left;
  font-size: var(--body-button-size);
  color: var(--primary-dark1);
  font-family: var(--font);
}
