@import url("https://fonts.googleapis.com/css2?family=Gotham+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font: "Gotham Narrow";
  --body-button: Inter;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-4xs-8: 8.8px;
  --font-size-3xs: 10px;
  --body-button-size: 14px;
  --bold-size: 12px;
  --headline-h5-size: 24px;
  --font-size-lgi: 19px;
  --font-size-xs-4: 11.4px;
  --font-size-smi-2: 12.2px;

  /* Colors */
  --secondary-white: #fff;
  --primary-dark: #231d2c;
  --color-gray-100: #202124;
  --color-darkslategray-100: #495057;
  --secondary-grey-1: #373d43;
  --primary-dark1: #252c34;
  --color-gainsboro-100: #e6e6e6;
  --secondary-grey-7: #dfe3e6;
  --color-gainsboro-200: #dfe3e5;
  --color-gainsboro-300: #dee1e7;
  --color-gainsboro-400: #d9d9d9;
  --secondary-grey-3: #868e96;
  --secondary-grey-grey-6: #cfd4da;
  --secondary-light-grey: #f4f4f4;
  --secondary-grey-grey-8: #f1f3f5;
  --color-dimgray: #574f5e;
  --primary-blue: #6061e5;
  --secondary-purple: #dadaf8;
  --secondary-pink-2: #cea8bc;
  --secondary-light-blue: #f2f7fd;

  /* Gaps */
  --gap-17xl: 36px;
  --gap-0: 0px;
  --gap-4xl: 23px;
  --gap-xl: 20px;
  --gap-9xs: 4px;
  --gap-base: 16px;
  --gap-12xs: 1px;
  --gap-2xs: 11px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-base: 16px;
  --padding-xs: 12px;
  --padding-2xs: 11px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;
  --padding-64xl: 83px;
  --padding-8xs: 5px;
  --padding-5xl: 24px;
  --padding-8xl: 27px;
  --padding-51xl: 70px;
  --padding-lg: 18px;
  --padding-6xs: 7px;
  --padding-5xs: 8px;
  --padding-4xl: 23px;
  --padding-3xs: 10px;
  --padding-16xl: 35px;
  --padding-85xl: 104px;
  --padding-33xl: 52px;
  --padding-7xs: 6px;
  --padding-4xs: 9px;
  --padding-3xs-8: 9.8px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-2xs: 11px;
  --br-11xl: 30px;
  --br-6xl: 25px;
  --br-3xs: 10px;
  --br-81xl: 100px;
  --br-4xl: 23px;
  --br-5xl-5: 24.5px;
  --br-lgi-2: 19.2px;
  --br-5xl: 24px;
  --br-7xs-1: 5.1px;

  /* Effects */
  --dark-shadow: 0px 0px 10px rgba(152, 161, 170, 0.6);
  --gray-shadows-10: 0px 0px 10px rgba(152, 161, 170, 0.1);
}
